<!doctype html>
<html lang="en">
<head>
    <title>guessing game: {%  block pageTitle %}{% endblock %}</title>
    <style>
        @import '/css/lottery.css';
    </style>
</head>
<body>

{% block main %}
{% endblock %}

</body>
</html>
